body{
    font-family: 'Open Sans', sans-serif;
}
.header{
  
}

.wrap{
    width: 940px;
    margin: auto;
}
 ul{
   display: flex;
   justify-content: space-between;
   margin-left: 0;
   padding-left: 0;
   margin-top: 33px;
 }

 li{
     list-style-type: none;
     font-size: 18px;
     font-weight: 700;
     line-height: 22px;
     color: #828282;
 }
.home{
    color: #070707;
}

.line{
    margin-top: 33px;
    border: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.header-content{
    display: flex;
    justify-content: space-between;
}
.header-content h1{
    font-size: 47px;
    line-height: 59px;
    color: #070707;
}
.me{ 
    margin-top: 95px;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    font-weight: 400;
    vertical-align: text-bottom;
   
}
.block-rotate{
    padding: 0;
    margin: 0;
    position: relative;
}
.rotate{
    transform: rotate(-90deg);
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #828282;
    position: absolute;
    right: 0;
}
.portrait{
    padding-bottom: 100px;
}


.about{
    background: #F6F6F6;
    padding-bottom: 100px;
}
h2{
    text-align: center;
    padding-top: 120px;
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
    color: #070707;
}
.about p{
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    font-weight: 400;
    margin-bottom: 50px;
}

.skills p{
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    font-weight: 400;
    margin-bottom: 50px;
}
.skills-item{
    display: flex;
    justify-content: space-between;
}